{{extend 'plugin_jqmobile/layout.html'}}
{{if 'rowsLigues' in globals():}}

{{if len(response._vars['rowsLigues']) !=0 :}}

<br/>
Liste des ligues </u> 

<table class='table'>
<tr>
<td><h6>Nom</h6></td>
<td><h6>URL site web</h6></td>
<td><h6>Discipline</h6></td>
</tr>
{{for uneLigue in response._vars['rowsLigues']:}}

<tr>
<td><i>{{=uneLigue.ligue.nom}}</i></td>
<td><i> {{=uneLigue.ligue.URLSiteWeb}}</i></td>
<td><i> {{=uneLigue.discipline.libelle}}</i></td>

</tr>
{{pass}}
</table>
<br/>
{{else:}}

Aucune ligue n'est actuellement enregistrée
{{pass}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

<p >
    <hr/>
    {{=A(B('Retour'),_href=URL('default','index'))}}
</p>
